@import "tailwindcss";
.shine-text {
  background: linear-gradient(
    90deg,
    #4f46e5,
    #6d28d9,
    #4f46e5
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 100% center;
  }
}
